body{
    margin: 30px 50px 50px 50px;
}
h1 {
    font-family: 'Karla', sans-serif;   
    color:blueviolet;
}

h2{
    font-family: 'Karla', sans-serif;   
}

h3{
    font-family: 'Karla', sans-serif;   
}

a{
    font-family: 'Karla', sans-serif;   
    color:blueviolet;
}