*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    cursor: url("gran_1.png"), auto !important;
    /* cursor: url("Grandma.png"); */

}

/* h1{
    font-variation-settings: "GRMA"900;
} */

.letter{
    width: 2000px;
    height: 1000px;
    display:flex;
    flex-flow: row;
    text-align: center;
    color: rgb(204, 104, 121);
    font-family: 'Stomach';
    padding:0.5em;
    font-size: 10em;   
}
#a, #b, #c, #d, #e, #f{
    width: 200px;
    height: 200px;
}

/* typography */
@font-face{
    font-family: 'Stomach';
    src: url('StomachGX.ttf') format('truetype-variations');			
}

.stomach-hungry {
    font-variation-settings: "GRMA" 100;
}

.stomach-halffull {
    font-variation-settings: "GRMA" 450;
}

.stomach-full {
    font-variation-settings: "GRMA" 900;
}
