*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    cursor: url("../pictures/mouse.png"), auto !important;
}
.element1, .element2, .element3, .element4, .block1 {
    cursor: url("../pictures/hover.png"), auto !important;
}

.wrapper {
    margin: 0 auto;
    width: 1250px;
}

.banner{
    height: 100vh;
    width: 100%;
    overflow:hidden;
    background-color: #A84526;
    /* -webkit-background-size: cover;
    background-size: cover;
    background-position: center center; */
}

.grid-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(10, 99px);
    grid-template-rows: repeat(7, 99px);
    padding: 20px;
    grid-gap: 1.3em;
}
.element1{
    z-index: 2;
    background: #A6BECF;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-family: "BioRhyme";
    font-size: 70px;
    padding: 10px;
    color: rgb(167, 121, 6);
    
    cursor:pointer;
}
.element2{
    z-index: 2;
    /* background-color: rgb(190, 139, 10); */
    border-top:100px solid white;
    border-right:100px solid rgb(167, 121, 6);
    cursor:pointer;
}

.element3{
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);
    flex-flow: column wrap;
    cursor:pointer;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

#circle1, #circle2, #circle3, #circle4{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:#FFFFFF;
    /* transform: skew(15deg, -20deg); */
}
/* #circle3{
    margin-left: 50px;
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:#FFFFFF;
} */



.element4{
    transform: scale(.79) rotate(45deg);
    background-color: rgb(167, 121, 6);
    font-family: "Karla";
    font-size: 47px;
    color: white;
    text-align: center;
    padding: 17px;
    cursor:pointer;
    /* transform: scaleX(0.5);
    transform: scaleY(1); */
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}



.about-area {
    height: 1520px;
    overflow:hidden;
}

.events{
    flex-flow:column;
    cursor: pointer;
}
.events-header{
    width:1250px;
    height: 100px;
    background-color: rgb(167, 121, 6);
    font-family:"Zhuo";
    font-size: 35px;
    color: white;
    padding: 25px;
    text-align: center;
}

.block{
    width:1250px;
    height: 220px;
    background-color: white;
    /* border-bottom: 2px solid black; */
}

.division{
    display: flex;
    flex-flow:row;
    /* padding: 10px; */
}
.description-k{
    display:block;
    padding: 10px;
    padding-left: 60px;
    width: 700px;
    height: 200px;
    line-height: 15px;
}
.description-k h1{
    font-family:"BioRhyme";
    font-size: 30px;
}
.description-k h4{
    font-family:"Fangzheng";
    font-size: 20px;
}
.description-k h2{
    font-family:"Karla";
    font-style: bold;
    font-size: 20px;
}
.description-k h3{
    font-family:"Karla";
    font-size: 16px;
    line-height: 23px;
}

.picture-k{
    display:block;
    margin-left: 300px;
    padding: 10px;
}
.detail-content1{
    height: 100px;
    width:1250px;
    background-color: grey;
    padding: 20px;
}

.side-nav{
    height: 100%;
    width: 300px;
    position:fixed;
    z-index: 1;
    margin: 0 0 0 0;
    background-color:#A84526;
    overflow-x: hidden;
}

.top-nav{
    margin: 3.1em;
    display: block;
    line-height: 18px;
}

.top-nav h1{
    font-family: "Zhuo";
    font-size: 35px;
    color: white;
    /* line-height: 30px; */
}

.top-nav h2{
    font-family: "BioRhyme";
    font-size: 30px;
    line-height: 35px;
    color: white;
}

.top-nav{
    font-family: "Fangzheng";
    font-size: 11px;
    color: white;
}

.top-nav p{
    color: white;
    font-family: "karla";
    font-size: 14px;
    /* line-height: 20px; */
}

.bottom-nav{
    margin-top: 350px;
    margin-left: 30px;
}
.bottom-nav a{
    display:block;
    padding: 0.3em;
    font-family: "BioRhyme";
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.content{
    margin-left: 290px;
    padding: 0 10px;
}
#about{
    background: yellow;
}

@font-face {
    font-family: 'Zhuo';
    src: url('../fonts/Zhuo/Zhuo-webfont.woff2') format('woff2'),
         url('../fonts/Zhuo/Zhuo-webfont.woff') format('woff');
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}

@font-face {
    font-family: 'Fangzheng';
    src: url('../fonts/Fangzheng/Fangzheng-webfont.woff2') format('woff2'),
         url('../fonts/Fangzheng/Fangzheng-webfont.woff') format('woff');
}

